In [2]:
import pandas as pd
import os
os.chdir(r'C:\Users\HP\Documents\tesis\Resultados_Python')
Datos =  pd.read_excel('Fiscales_Actual.xlsx', sheet_name= 'Sheet1')
Datos1 = Datos[Datos.PROVINCIA == 'MANABI']
(Datos1 
  .groupby('CANTÓN')
  .agg(frequency=('CANTÓN', "count")))

                   frequency
CANTÓN
24 DE MAYO                 1
BOLIVAR (CALCETA)          1
CHONE                      3
EL CARMEN                  2
FLAVIO ALFARO              1
JIPIJAPA                   2
JUNIN                      1
MANTA                     10
MONTECRISTI                2
PAJAN                      1
PEDERNALES                 2
PORTOVIEJO                12
ROCAFUERTE                 1
SAN VICENTE                1
SANTA ANA                  1
SUCRE                      2
TOSAGUA                    1